<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="rollingFileName">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile immediateFlush="false" name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
            <Policies>

                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>

